@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

$tandem-blue: #22C1D7;
$tandem-pink: #ED5481;
$dark-blue: #2C37D0;
$light-grey: #cecece7a;
$dark-grey: #616161;
$row-height: 100px;
$shadow: 0px 5px 8px rgba(0, 0, 0, 0.4);
$font-size-xs: 12px;
$font-size-sm: 15px;
$font-size-md: 20px;
$font-size-lg: 25px;
$horizontal-padding: 17px;

// generic rules 
* {
    text-decoration: none;
    font-family: Roboto;
    font-weight: 300;
    box-sizing: border-box;
    font-size: $font-size-sm;
    // -webkit-user-select: none; /* Safari */        
    // user-select: none; /* Standard */
    // -webkit-tap-highlight-color: transparent;
    letter-spacing: 0.3px;
    p {margin: 0;}
}

// root 
body {
    overflow-x: hidden;
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-color: #F6F3F0;
}

// black opaque overlay
.overlay-black {
    background-color: black;
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    opacity: 0.8;
    z-index: 1;
}

.blue-background {background-color: $tandem-blue;}
.pink-background {background-color: $tandem-pink;}

// text
.bold {font-weight: bold;}
.bolder {font-weight: bolder;}
.blue-text {color: $tandem-blue}
.pink-text {color: $tandem-pink}
.text-xs {font-size: $font-size-xs}
.text-sm {font-size: $font-size-sm}
.text-md {font-size: $font-size-md}
.text-lg {font-size: $font-size-lg}

.grey-line {border-top: 1px $light-grey solid;}

// components/ActionButton.js
.action-button-container {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.action-button-inner {
    color: white;
    margin: auto;
    margin: 0 32px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 50px;
    padding: 11px 25px;
    width: 100%;
    font-size: $font-size-md
}

.action-button-inner-text {
    font-weight: bold;
    width: 100%;
    text-align: center;
}
.close-button {
    margin-top: 12px;
    text-align: center;
    text-decoration: underline;
}

// components/Slider.js
.slider {
    display: flex;
    border-bottom: $light-grey 1px solid;
}

.slider-title-container {
    padding: 18px 0 12px 0;
    width: 50%;
    text-align: center;
}
.slider-title-text {
    font-size: $font-size-xs;
}

.slider-title-container-blue {
    color: $tandem-blue;
    border-bottom: 2px $tandem-blue solid;
    
    p {font-weight: bold;}
}

// components/Row.js
.row-container {
    width: 100%;
    margin: auto;
    min-height: $row-height;
    border-bottom: 1px $light-grey solid;
    display: flex;
    padding: 15px $horizontal-padding;
}

.row-image-container {
    width: $row-height;
    display: flex;   
}

.row-image {
    max-height: $row-height - 5px;
    border-radius: 8px;
    margin: auto;
}

.row-text-container {
    padding: 0px 10px;
    width: calc(100% - #{$row-height} - 17px);
    max-height: $row-height - 7.5px;
    overflow: hidden;
}

.row-title {
    font-weight: bolder;
    padding-bottom: 5px;
}

// components/Popup.js
.popup-container {
    z-index: 2;
    position: fixed;
    background-color: white;
    padding: 15px 5vw;
    width: 80vw;
    left: 10vw;
    top: 50px;
    border-radius: 15px;
}

.popup-input-container {
    width: 100%;
    padding: 15px 0px
}

.popup-description-holder {
    p {padding-bottom: 10px;}
}

input {
    font-weight: lighter;
    width: 100%;
    border: 0;
    border-bottom: 2px darkgrey solid;
    outline-width: 0;
}

.popup-title {
    text-align: left;
    font-weight: bolder;
    font-size: $font-size-md;
    padding: 0 0 15px 0;
}

// components/InfoCard.js
.infocard-container {
    z-index: 3;
    position: fixed;
    top: calc(100vh - 450px);
    background-color: white;
    height: 450px;
    border-radius: 15px 15px 0 0;
    width: 100vw;
}

.infocard-title {
    font-weight: bolder;
    text-align: left;
    padding: 25px 20px 15px 20px;
    font-size: $font-size-md
}

.infocard-main-content {
    padding: 0 20px;
}

.button-fixed-bottom {
    position: fixed; 
    bottom: 20px;
    width: 90%;
    left: 5%;
}

.infocard-close-x {
    position: absolute;
    right: 15px;
    top: 15px;
    font-weight: bolder;
    font-size: 20px;
    color: white;
    background-color: lightgray;
    border-radius: 100%;
    width: 25px;
    text-align: center;
    line-height: 1.1;
    height: 25px;
}

// HeaderTitle.js
.header-title-inner, .header-title-container, .back-arrow {
    display: flex;
}

.header-title-container {
    border-bottom: $light-grey 1px solid;
}

.back-arrow {
    padding: 7.5px 15px;
}

.back-arrow-img {
    height: 31px;
}

.header-title {
    padding: 11px 0 0 0;
    font-size: $font-size-md;
    font-weight: bolder;
    color: black;
}

.circular-button-outer {
    background-color: $tandem-blue;
    border-radius: 100%;
    height: 55px;
    width: 55px;
    box-shadow: $shadow;
    position: fixed;
    display: flex;
    right: 15px;
    bottom: 15px;
}

.circular-button-inner {
    color: white;
    margin: auto;
    display: flex;
    img {
        height: 40px;
        width: 40px;
        margin: auto;
    }
}

// styles that overwrite existing styles 
.round-image {border-radius: 100%;}