.bigDarkMode {
        .App {
                background-color: rgb(28,28, 30) !important;
                height: 100vh;
                width: 100vw;
        }

        p, h1, h2, h3, h4, h5, h6 {
                color: rgb(246, 243, 240)
        }

        ::placeholder {
                color: rgb(49, 49, 53)
        }
}